@{
    ViewData["Title"] = "Home Page";
}
<br />
<br />
<br />
<div class="text-center">
    <h1 class="display-4">Welcome to My MVC Web App!</h1>
    <p>This is a simple ASP.NET Core MVC application with authentication.</p>
    
    <!--<p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
</div>
